@font-face {
  font-family: Gilroy;
  src: url("../fonts/Gilroy-SemiBold.woff") format("woff");
}
@font-face {
  font-family: Gilroy-Light;
  src: url("../fonts/Gilroy-Regular.woff") format("woff");
}
button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

:root {
  --accent: #FBD784;
  --white: #ffffff;
  --bg: #0B1D26;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Gilroy, serif;
  background-color: var(--bg);
}

ul {
  list-style: none;
}

.container-outer {
  width: 100%;
  padding: 0 4%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container-inner {
  width: 930px;
  margin: 0 auto;
}

@media screen and (max-width: 1300px) {
  .container-inner {
    width: 750px;
  }
}
@media screen and (max-width: 780px) {
  .container-inner {
    width: 500px;
  }
}
@media screen and (max-width: 630px) {
  .about__img {
    display: none;
  }
  .container-inner {
    width: 340px;
  }
}
.link {
  font-weight: 500;
  font-size: 18px;
  line-height: 178%;
  color: var(--white);
  opacity: 0.8;
}

.link:hover {
  opacity: 1;
}

.link--light {
  font-family: Gilroy-Light;
  font-weight: 200;
}

.btn {
  display: flex;
  align-items: center;
  gap: 16px;
  opacity: 0.8;
}

.btn:hover {
  opacity: 1;
}

.btn__link {
  font-weight: 700;
  font-size: 18px;
  color: var(--accent);
}

.heading1 {
  font-family: "Playfair Display", serif;
  font-weight: 100;
  font-size: 88px;
  line-height: 114%;
  color: var(--white);
}

.heading2 {
  font-family: "Playfair Display", serif;
  font-weight: 100;
  font-size: 56px;
  color: var(--white);
}

.title {
  display: flex;
  align-items: center;
  gap: 32px;
}

.title__line {
  width: 72px;
  border: 1px solid var(--accent);
}

.heading3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: var(--accent);
}

.heading4 {
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.33em;
  text-transform: uppercase;
  color: var(--accent);
}

.text {
  font-weight: 700;
  font-size: 18px;
  line-height: 178%;
  color: var(--white);
}

@media screen and (max-width: 1300px) {
  .heading1 {
    font-size: 70px;
  }
  .heading2 {
    font-size: 48px;
  }
  .text {
    font-size: 16px;
  }
}
@media screen and (max-width: 630px) {
  .heading1 {
    font-size: 48px;
  }
  .link {
    font-size: 14px;
  }
  .text {
    font-size: 16px;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__navbar {
  display: flex;
  align-items: center;
}

.logo {
  flex: 1;
}

.logo__img {
  width: 80px;
}

.header__menu {
  display: none;
  justify-content: center;
  align-items: center;
}

.header__navbar {
  flex: 0;
}

.header__menu-icon {
  height: 20px;
  fill: #fff;
  margin-bottom: 2px;
}

.header__account {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;
  flex: 1;
}

.header__account-icon {
  margin-bottom: 2px;
}

.header__item {
  flex-grow: 1;
  flex-shrink: 0;
}

@media screen and (max-width: 780px) {
  .header__list {
    gap: 20px;
  }
  .logo__img {
    width: 60px;
  }
}
@media screen and (max-width: 630px) {
  .header {
    padding: 20px 0 10px 0;
  }
  .header__menu {
    display: flex;
  }
  .header__list {
    gap: 16px;
  }
  .account-link {
    display: none;
  }
}
.bg-holder {
  position: relative;
}

.bg {
  position: absolute;
  top: 0;
  z-index: -5;
  width: 100%;
  animation: parallax linear;
  animation-timeline: scroll();
}

.mg {
  position: absolute;
  top: 340px;
  z-index: -4;
  width: 100%;
  animation: parallaxMid linear;
  animation-timeline: scroll();
  filter: saturate(1.2);
}

.fg {
  position: absolute;
  top: 730px;
  z-index: -3;
  width: 100%;
  filter: saturate(1);
}

.dark-gradient {
  position: absolute;
  width: 100%;
  height: 1600px;
  background: linear-gradient(347deg, rgba(11, 29, 38, 0) 0%, rgba(11, 29, 38, 0.1803921569) 100%);
  z-index: -1;
}

.gradient {
  position: absolute;
  top: 50vw;
  width: 100%;
  height: 2700px;
  background: linear-gradient(rgba(11, 29, 38, 0) 0%, #0b1d26 16.28%);
  z-index: 0;
}

.hero {
  padding-bottom: 380px;
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 132px;
}

.btn__link--white {
  color: var(--white);
}

.contacts {
  position: fixed;
  top: 355px;
  display: flex;
  gap: 24px;
  align-items: center;
  align-self: flex-start;
  writing-mode: vertical-lr;
  text-orientation: sideways;
  z-index: 10;
}

.contacts__icon-link {
  opacity: 0.8;
}

.contacts__icon-link:hover {
  opacity: 1;
}

.scroll {
  position: fixed;
  top: 355px;
  align-items: center;
  align-self: flex-end;
  display: flex;
  height: 240px;
  z-index: 10;
}

.scroll__list {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 77px;
}

.scroll__item {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
}
.scroll__item .link {
  width: 100%;
  text-align: center;
}

.first {
  animation: scroller-item1 linear;
  animation-timeline: scroll();
}

.second {
  animation: scroller-item2 linear;
  animation-timeline: scroll();
}

.third {
  animation: scroller-item3 linear;
  animation-timeline: scroll();
}

.fourth {
  animation: scroller-item4 linear;
  animation-timeline: scroll();
}

.scroll__item--start .link {
  text-align: start;
}

.scroll-item--active {
  opacity: 1;
}

.scroll__indicator {
  height: 60px;
  width: 3px;
  background-color: var(--white);
  opacity: 0.7;
}

.scroll__indicator--active {
  opacity: 1;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 150px;
}

.about__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.about__content--reverse {
  flex-direction: row-reverse;
}
.about__content--reverse .about__bg-text {
  right: 38%;
}

.about__info {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 150px;
}

.about__img {
  max-width: 100%;
}

.about__bg-text {
  font-weight: 700;
  font-size: 240px;
  line-height: 100%;
  color: var(--white);
  opacity: 0.1;
  position: absolute;
  top: 50px;
}

@keyframes parallax {
  to {
    transform: translateY(1800px);
  }
}
@keyframes parallaxMid {
  to {
    transform: translateY(1200px);
  }
}
@keyframes scroller-item1 {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0.5;
  }
  54% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.5;
  }
  93% {
    opacity: 0.5;
  }
}
@keyframes scroller-item2 {
  0% {
    opacity: 0.5;
  }
  33% {
    opacity: 1;
  }
  54% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.5;
  }
  90% {
    opacity: 0.5;
  }
}
@keyframes scroller-item3 {
  0% {
    opacity: 0.5;
  }
  33% {
    opacity: 0.5;
  }
  54% {
    opacity: 0.5;
  }
  60% {
    opacity: 1;
  }
  90% {
    opacity: 0.5;
  }
}
@keyframes scroller-item4 {
  0% {
    opacity: 0.5;
  }
  33% {
    opacity: 0.5;
  }
  54% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.5;
  }
  90% {
    opacity: 1;
  }
}
@media screen and (max-width: 1300px) {
  .about {
    gap: 50px;
  }
  .about__info {
    padding: 80px;
  }
  .about__img {
    width: 30%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    padding-top: 145px;
    height: 100%;
  }
  .mg {
    top: 300px;
  }
  .fg {
    top: 470px;
  }
  .hero__content {
    padding: 0 50px;
  }
}
@media screen and (max-width: 780px) {
  .mg {
    top: 250px;
  }
  .fg {
    top: 470px;
  }
  .hero {
    padding-bottom: 100px;
  }
  .hero__content {
    margin-top: 50px;
    padding: 0;
  }
  .about__info {
    padding: 60px;
  }
  .about__content--reverse {
    flex-direction: row-reverse;
  }
  .about__content--reverse .about__bg-text {
    left: 0;
  }
  .about__content {
    padding: 25px 0;
  }
  .about__bg-text {
    font-size: 130px;
    top: 30px;
  }
  .contacts {
    display: none;
  }
  .scroll {
    display: none;
  }
}
@media screen and (max-width: 630px) {
  .mg {
    top: 140px;
  }
  .fg {
    top: 280px;
  }
  .gradient {
    top: 2vw;
  }
  .about__img {
    display: none;
  }
  .about__info {
    padding: 10px;
  }
  .hero {
    padding-bottom: 100px;
    padding-top: 75px;
  }
}
.footer {
  display: flex;
  padding: 0 100px;
  justify-content: space-between;
  margin-bottom: 120px;
}

.footer__policies {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

.footer__copyright {
  font-weight: 100;
  font-size: 18px;
  line-height: 178%;
  color: var(--white);
  opacity: 0.5;
}

.footer__copyright:hover {
  opacity: 0.9;
}

.footer_list-item-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: var(--accent);
}

.footer__list {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__lists {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1300px) {
  .footer {
    padding: 0;
  }
}
@media screen and (max-width: 780px) {
  .footer {
    margin-bottom: 50px;
    gap: 16px;
  }
}
@media screen and (max-width: 630px) {
  .footer_list-item-heading {
    font-size: 18px;
  }
  .footer {
    flex-direction: column;
  }
}/*# sourceMappingURL=index.css.map */