@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@font-face {
    font-family: Gilroy;
    src: url("./fonts/Gilroy-SemiBold.woff") format("woff");
}
@font-face {
    font-family: Gilroy-Light;
    src: url("./fonts/Gilroy-Regular.woff") format("woff");
}
button{
    background: transparent;
    border: 0;
    cursor: pointer;
}
a{
    text-decoration: none;
}
:root {
    --accent: #FBD784;
    --white: #ffffff;
    --bg: #0B1D26;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: Gilroy, serif;
    background-color: var(--bg);
}
ul{
    list-style: none;
}